@page "/EnumSelect"


@using BlazorEnumSelect.Models

<EditForm Model="@model">

    <p>Selected the some enum value: @model.SomeEnum</p>
    @*<BlazorEnumSelect.Components.EnumSelectControl EnumType="typeof(SomeEnum)" TModel="SomeWrappingClassWithSomeEnum" For="@(m => m.SomeEnum)" />*@
    @*<BlazorEnumSelect.Components.EnumSelectControl TModel="SomeWrappingClassWithSomeEnum" For="@(m => m.SomeEnum)" />*@
    <ToreAurstadIT.BlazorEnumSelect.InputSelectEnum @bind-Value="@model.SomeEnum" 
                                                    EmptyTextValue="-1" ShowIntValues="true" 
                                                    AdditionalCssClasses="custom-select">
    </ToreAurstadIT.BlazorEnumSelect.InputSelectEnum>

</EditForm>


@code{
    public SomeWrappingClassWithSomeEnum model = new SomeWrappingClassWithSomeEnum();
}