@page "/EnumSelect"


@using BlazorEnumSelect.Models

enum select her

<EditForm Model="@model">

    <p>Selected the some enum value: @model.SomeEnum</p>
    @*<BlazorEnumSelect.Components.EnumSelectControl EnumType="typeof(SomeEnum)" TModel="SomeWrappingClassWithSomeEnum" For="@(m => m.SomeEnum)" />*@
    @*<BlazorEnumSelect.Components.EnumSelectControl TModel="SomeWrappingClassWithSomeEnum" For="@(m => m.SomeEnum)" />*@


    <InputSelectEnum @bind-Value="@model.SomeEnum" EmptyTextValue="-1" ShowIntValues="true"></InputSelectEnum>

</EditForm>


@code{
    private SomeEnum someEnum = new SomeEnum();
    private SomeWrappingClassWithSomeEnum model = new SomeWrappingClassWithSomeEnum();
}